<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home"><i class="fa fa-home text-light"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul *ngIf="(currentId$ | async) != -1" class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="friends" (click)="checkPermissions('friends')">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="chat" (click)="checkPermissions('chat')">Chat</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="(currentId$ | async) != -1" class="nav-item mr-3">
          <a [class]="requestClass" routerLink="friend-requests" (click)="checkPermissions('friends')">
            <i class="fa fa-users"></i>
          </a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link text-light" routerLink="settings">
            <i class="fa fa-cog"></i>
          </a>
        </li>
        <li class="nav-item">
          <button *ngIf="(currentId$ | async) == -1" class="btn btn-outline-light" routerLink="sign-in">
            Sign In <i class="fa fa-sign-in"></i>
          </button>
          <button *ngIf="(currentId$ | async) != -1" class="btn btn-outline-light" (click)="signOut()">
            <i class="fa fa-sign-out"></i>Sign Out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
