<div class="container-fluid mt-3">
  <h3>Release notes</h3>
  <ul>
    <li>
      <h5>Release 0.3</h5>
      <ul>
        <li>New users can be created by invitation link only from now on.</li>
      </ul>
    </li>
    <li>
      <h5>Release 0.2</h5>
      <ul>
        <li>Permissions</li>
        <li>Status for user</li>
      </ul>
    </li>
    <li>
      <h5>Release 0.1</h5>
      <ul>
        <li>Sign in and sign up</li>
        <li>Make friends</li>
        <li>Chat in single chat with your friends</li>
      </ul>
    </li>
  </ul>
</div>
